<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <h1><strong>Edit your Van:</strong></h1>
  </div>
<div class="d-flex justify-content-center">
      <%= simple_form_for(@van) do |f| %>
        <%= f.input :description %>
        <%= f.input :place %>
        <%= f.input :model %>
        <%= f.input :brand %>
        <%= f.input :price %>
        <% @van.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 100, width: 250, crop: :fill %>
        <% end %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to "Delete",
                  van_path(@van),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-warning mx-3" %>
      <%= link_to "Back", van_path(@van), class: "btn btn-dark"%>
    </div>
</div>
