<div class="container">
  <h1>Vans List</h1>

  <div class="container">
    <ul>
    <% @vans.each do |van| %>
      <% van.photos.each do |photo| %>
        <%= link_to (cl_image_tag photo.key, height: 300, width: 400, crop: :fill), van_path(van) %>
      <% end %>
      <li><%= van.description %></li>
      <li><%= van.place %></li>
      <li><%= van.model %></li>
      <li><%= van.brand %></li>
      <li><%= van.price %></li>
    <% end %>
    </ul>
  </div>

  <%= link_to "Add a new van", new_van_path, class: "btn btn-primary" %>
  <br>
  <br>
  <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
</div>
