<div class="container">
  <div class="d-flex justify-content-center my-4">
    <h1><strong>Vans List:</strong></h1>
  </div>
  <div class="cards cardabajo">
    <% @vans.each do |van| %>
      <div class="card">
      <% van.photos.each do |photo| %>
        <%= link_to (cl_image_tag photo.key, crop: :fill), van_path(van) %>
      <% end %>
      <ul>
        <li><h4><%= van.description %></h4></li>
        <li><%= van.place %></li>
        <li><%= van.model %></li>
        <li><%= van.brand %></li>
        <li>$<%= van.price %> / Night</li>
      </ul>
      </div>
    <% end %>
  </div>
  <div>
      <div class="d-flex justify-content-end mb-4">
          <%= link_to "Reservations", reservations_path, class: "btn btn-warning
          " %>
            <%= link_to "Add a new van", new_van_path, class: "btn btn-warning mx-3" %>
          <%= link_to "Back to Home", root_path, class: "btn btn-dark" %>
      </div>
  </div>
</div>
