<div class="container">
  <div class="cards cardabajo">
    <% @vans.each do |van| %>
      <div class="card">
      <% van.photos.each do |photo| %>
        <%= link_to (cl_image_tag photo.key, crop: :fill), van_path(van) %>
      <% end %>
      <ul>
        <li><h4><%= van.description %></h4></li>
        <li><%= van.place %></li>
        <li><%= van.model %></li>
        <li><%= van.brand %></li>
        <li>$<%= van.price %> / Night</li>
      </ul>
      </div>
    <% end %>
  </div>
  <%= link_to "Reservations", reservations_path, class: "indexbtn" %>
  <%= link_to "Add a new van", new_van_path, class: "btn btn-primary" %>
  <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
</div>
