<div class="banner-show" style="background-image: url(https://i.pinimg.com/originals/cc/14/b9/cc14b9abd4d085b67a6cc5e84e271929.jpg);">
  <div class="container">
   <h2><strong>Camper Life start here</strong></h2>
  </div>
</div>

<div class="container">
  <div class="cards d-flex justify-content-center">
    <div class="card-product">
      <% @van.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <div class="card-product-infos">
    <h3><strong><%= @van.description %></strong></h3>
      <h4><%= @van.place %></h4>
      <p><%= "#{@van.model}, #{@van.brand}" %></p>
      <p>$<%= @van.price %>/ Night</p>
      <%= link_to 'Rent Now', new_van_reservation_path(@van), class: "btn btn-warning moved-button" %>
      <%= link_to "Edit | Delete", edit_van_path(@van), class: "btn btn-dark moved-button" %>
    </div>
  </div>
</div>

  <div class="container" style="padding-bottom: 0;">
    <h3 style="margin-left: 0;"><strong>Reviews:</strong></h3>
       <ul style="padding-left: 0;"><% @van.reviews.each do |review|  %>
        <div class="row">
          <div class="col-6">
            <div>
              <label for="exampleFormControlTextarea1" class="form-label"><%= "â­" * review.rating %></label>
                <p class="text-box"><%= review.comment %></p>
            </div>
          </div>
          <div class="col-6">
          </div>
      </div>
  <% end %></ul>
  </div>



  <div class="d-flex justify-content-end">
    <%= link_to 'Back', vans_path, class: "btn btn-dark" %>
  </div>
</div>
