<div class="container">
  <h2>Van</h2>

  <p>
    <% @van.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </p>
  <h3><%= @van.description %></h3>
  <p><%= @van.model %></p>
  <p><%= @van.brand %></p>
  <p><%= @van.price %></p>

  <div>
  <h1>Review:</h1>
    <ul><% @van.reviews.each do |review|  %>
      <li><%= review.comment %>
      <%= '*' * review.rating %></li>
    <% end %></ul>
  </div>

  <br>
  <%= link_to 'Rent', new_van_reservation_path(@van), class: "btn btn-primary" %>
  <%# solo para el usuario que alquila %>
  <br>
  <br>
  <%= link_to "Edit | Delete Van", edit_van_path(@van), class: "btn btn-primary" %>
  <%# solo para el usuario dueño %>
  <br>
  <br>
  <%= link_to 'Back', vans_path, class: "btn btn-primary" %>
  <br>
</div>
