<div class="container">
<h1>Edit your Reservation:</h1>

<div class="container"></div>
  <%= simple_form_for [ @van, @reservation ] do |f| %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>

<br>

  <%= link_to "Delete",
              reservation_path(@reservation),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>

<br>
<br>
  <%= link_to 'Back', reservations_path, class: "btn btn-primary" %>
</div>
</div>
