<div class="container">
  <h1>New Reservation:</h1>

  <br>
  <h5>User:
  <%= current_user.email %>
  </h5>

  <br>
  <br>
  <%= simple_form_for [ @van, @reservation ] do |f| %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
  <br>

  <%= link_to 'Back', van_path(@van), class: "btn btn-primary" %>
</div>
