<div class="container special-margin">
  <div class="col d-flex justify-content-center">
    <h1><strong>New Reservation</strong></h1>
  </div>
  <%= simple_form_for [ @van, @reservation ] do |f| %>
    <%= f.input :start_time, as: :date, html5: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :date, html5: true, input_html: {class: "datepicker"} %>
  <div class="row">
    <div class="col d-flex justify-content-end my-3">
      <%= f.button :submit, "Go", class: "btn btn-warning mx-3" %>
      <%= link_to 'Back', van_path(@van), class: "btn btn-dark" %>
  <% end %>
  </div>
  </div>
</div>
