<div class="container">
  <h1>Add a new Review:</h1>

  <%= simple_form_for [ @reservation, @review ] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>

  <br>
  <%= link_to 'Back', reservations_path, class: "btn btn-primary" %>
</div>
